<header>
    <div class="container">
        <div class="header-content row">
            <div class="header-content-inner container">
                <div class="col-md-12">
                    <h1>Comming soon</h1>
                    <h4>відтепер домашні рослини це нова ера</h4>
                    <hr>
                    <p>Гідропоніка стає ближчогю та простішою!</p>
                    <p>А поки чекаємо на оновлення сайту.</p>
                </div>
                <div class="col-md-4">
                    <!-- <div class="iphone-frame hidden-sm hidden-xs"></div> -->
                </div>
            </div>
        </div>
    </div>
</header>
